USE [master]
GO
/****** Object:  Database [PostulantesDB]    Script Date: 31/10/2025 6:20:36 ******/
CREATE DATABASE [PostulantesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PostulantesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PostulantesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PostulantesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PostulantesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PostulantesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PostulantesDB]
GO
/****** Object:  Table [dbo].[PersonasJuridicas]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonasJuridicas](
	[PersonaJuridicaId] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [nvarchar](200) NOT NULL,
	[TipoDocumento] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [nvarchar](50) NOT NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaJuridicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonasNaturales]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonasNaturales](
	[PersonaId] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [nvarchar](50) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NOT NULL,
	[Edad] [tinyint] NOT NULL,
	[Sexo] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaRegistro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonosJuridicos]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosJuridicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonaJuridicaId] [int] NOT NULL,
	[Numero] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonosNaturales]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosNaturales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NOT NULL,
	[Numero] [nvarchar](20) NOT NULL,
	[TipoTelefono] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PersonasJuridicas] ON 

INSERT [dbo].[PersonasJuridicas] ([PersonaJuridicaId], [RazonSocial], [TipoDocumento], [NumeroDocumento], [FechaRegistro]) VALUES (1, N'Inversiones Andinas SAC', N'RUC', N'20123456789', CAST(N'2025-10-31T02:31:14.0000000' AS DateTime2))
INSERT [dbo].[PersonasJuridicas] ([PersonaJuridicaId], [RazonSocial], [TipoDocumento], [NumeroDocumento], [FechaRegistro]) VALUES (2, N'Logística Pacífico SRL', N'RUC', N'20654321987', CAST(N'2025-10-31T02:31:14.0000000' AS DateTime2))
INSERT [dbo].[PersonasJuridicas] ([PersonaJuridicaId], [RazonSocial], [TipoDocumento], [NumeroDocumento], [FechaRegistro]) VALUES (3, N'Agroexport del Norte S.A.', N'RUC', N'20556677881', CAST(N'2025-10-31T02:31:14.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PersonasJuridicas] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonasNaturales] ON 

INSERT [dbo].[PersonasNaturales] ([PersonaId], [TipoDocumento], [NumeroDocumento], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Edad], [Sexo], [Email], [FechaNacimiento], [FechaRegistro]) VALUES (4, N'DNI', N'87654321', N'María', N'López', N'Ramos', 34, N'F', N'maria.lopez@example.com', CAST(N'1991-11-03' AS Date), CAST(N'2025-10-31T02:31:14.0000000' AS DateTime2))
INSERT [dbo].[PersonasNaturales] ([PersonaId], [TipoDocumento], [NumeroDocumento], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Edad], [Sexo], [Email], [FechaNacimiento], [FechaRegistro]) VALUES (5, N'CE', N'XK-908812', N'Alex', N'Rivera', N'Quispe', 22, N'Otro', N'alex.rivera@example.com', CAST(N'2003-02-20' AS Date), CAST(N'2025-10-31T02:31:14.0000000' AS DateTime2))
INSERT [dbo].[PersonasNaturales] ([PersonaId], [TipoDocumento], [NumeroDocumento], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Edad], [Sexo], [Email], [FechaNacimiento], [FechaRegistro]) VALUES (6, N'DNI', N'44556677', N'Pedro', N'Aguilar', N'Soto', 30, N'M', N'pedroaguilar@gmail.com', NULL, CAST(N'2025-10-31T02:31:14.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PersonasNaturales] OFF
GO
SET IDENTITY_INSERT [dbo].[TelefonosJuridicos] ON 

INSERT [dbo].[TelefonosJuridicos] ([Id], [PersonaJuridicaId], [Numero]) VALUES (1, 1, N'014444555')
INSERT [dbo].[TelefonosJuridicos] ([Id], [PersonaJuridicaId], [Numero]) VALUES (2, 1, N'999333444')
INSERT [dbo].[TelefonosJuridicos] ([Id], [PersonaJuridicaId], [Numero]) VALUES (3, 2, N'017777888')
SET IDENTITY_INSERT [dbo].[TelefonosJuridicos] OFF
GO
SET IDENTITY_INSERT [dbo].[TelefonosNaturales] ON 

INSERT [dbo].[TelefonosNaturales] ([Id], [PersonaId], [Numero], [TipoTelefono]) VALUES (3, 4, N'988777666', N'Móvil')
INSERT [dbo].[TelefonosNaturales] ([Id], [PersonaId], [Numero], [TipoTelefono]) VALUES (4, 5, N'951222333', N'Móvil')
INSERT [dbo].[TelefonosNaturales] ([Id], [PersonaId], [Numero], [TipoTelefono]) VALUES (5, 6, N'900111000', N'Móvil')
SET IDENTITY_INSERT [dbo].[TelefonosNaturales] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PJ_NumDoc]    Script Date: 31/10/2025 6:20:37 ******/
ALTER TABLE [dbo].[PersonasJuridicas] ADD  CONSTRAINT [UQ_PJ_NumDoc] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PN_NumDoc]    Script Date: 31/10/2025 6:20:37 ******/
ALTER TABLE [dbo].[PersonasNaturales] ADD  CONSTRAINT [UQ_PN_NumDoc] UNIQUE NONCLUSTERED 
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TelJ_Num]    Script Date: 31/10/2025 6:20:37 ******/
ALTER TABLE [dbo].[TelefonosJuridicos] ADD  CONSTRAINT [UQ_TelJ_Num] UNIQUE NONCLUSTERED 
(
	[PersonaJuridicaId] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TelN_Num]    Script Date: 31/10/2025 6:20:37 ******/
ALTER TABLE [dbo].[TelefonosNaturales] ADD  CONSTRAINT [UQ_TelN_Num] UNIQUE NONCLUSTERED 
(
	[PersonaId] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonasJuridicas] ADD  CONSTRAINT [DF_PJ_FechaRegistro]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PersonasNaturales] ADD  CONSTRAINT [DF_PN_FechaRegistro]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[TelefonosJuridicos]  WITH CHECK ADD  CONSTRAINT [FK_TelJ_PJ] FOREIGN KEY([PersonaJuridicaId])
REFERENCES [dbo].[PersonasJuridicas] ([PersonaJuridicaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TelefonosJuridicos] CHECK CONSTRAINT [FK_TelJ_PJ]
GO
ALTER TABLE [dbo].[TelefonosNaturales]  WITH CHECK ADD  CONSTRAINT [FK_TelN_PN] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[PersonasNaturales] ([PersonaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TelefonosNaturales] CHECK CONSTRAINT [FK_TelN_PN]
GO
ALTER TABLE [dbo].[PersonasNaturales]  WITH CHECK ADD CHECK  (([Edad]>=(0) AND [Edad]<=(120)))
GO
ALTER TABLE [dbo].[PersonasNaturales]  WITH CHECK ADD CHECK  (([Sexo]='Otro' OR [Sexo]='F' OR [Sexo]='M'))
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaJuridica_Create]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP Persona Jurídica
CREATE   PROCEDURE [dbo].[sp_PersonaJuridica_Create]
  @RazonSocial NVARCHAR(200),
  @TipoDocumento NVARCHAR(50),
  @NumeroDocumento NVARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.PersonasJuridicas(RazonSocial, TipoDocumento, NumeroDocumento)
  VALUES(@RazonSocial, @TipoDocumento, @NumeroDocumento);
  SELECT CAST(SCOPE_IDENTITY() AS INT) AS PersonaJuridicaId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaJuridica_Delete]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaJuridica_Delete]
  @PersonaJuridicaId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.PersonasJuridicas WHERE PersonaJuridicaId=@PersonaJuridicaId;
  SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaJuridica_GetById]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaJuridica_GetById]
  @PersonaJuridicaId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT PersonaJuridicaId, RazonSocial, TipoDocumento, NumeroDocumento, FechaRegistro
  FROM dbo.PersonasJuridicas
  WHERE PersonaJuridicaId=@PersonaJuridicaId;

  SELECT Id AS TelefonoId, Numero
  FROM dbo.TelefonosJuridicos
  WHERE PersonaJuridicaId=@PersonaJuridicaId
  ORDER BY Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaJuridica_List]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaJuridica_List]
  @Filtro NVARCHAR(100) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  SELECT
    pj.PersonaJuridicaId, pj.RazonSocial, pj.TipoDocumento, pj.NumeroDocumento,
    tj.Id AS TelefonoId, tj.Numero
  FROM dbo.PersonasJuridicas pj
  LEFT JOIN dbo.TelefonosJuridicos tj ON pj.PersonaJuridicaId = tj.PersonaJuridicaId
  WHERE (@Filtro IS NULL) OR (pj.RazonSocial LIKE '%'+@Filtro+'%' OR pj.NumeroDocumento LIKE '%'+@Filtro+'%')
  ORDER BY pj.PersonaJuridicaId DESC, tj.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaJuridica_Update]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaJuridica_Update]
  @PersonaJuridicaId INT,
  @RazonSocial NVARCHAR(200),
  @TipoDocumento NVARCHAR(50),
  @NumeroDocumento NVARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.PersonasJuridicas
    SET RazonSocial=@RazonSocial, TipoDocumento=@TipoDocumento, NumeroDocumento=@NumeroDocumento
  WHERE PersonaJuridicaId=@PersonaJuridicaId;
  SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaNatural_Create]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP Persona Natural
CREATE   PROCEDURE [dbo].[sp_PersonaNatural_Create]
  @TipoDocumento    NVARCHAR(50),
  @NumeroDocumento  NVARCHAR(50),
  @Nombres          NVARCHAR(100),
  @ApellidoPaterno  NVARCHAR(100),
  @ApellidoMaterno  NVARCHAR(100),
  @Edad             TINYINT,
  @Sexo             NVARCHAR(10),
  @Email            NVARCHAR(150) = NULL,
  @FechaNacimiento  DATE = NULL
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.PersonasNaturales
  (TipoDocumento, NumeroDocumento, Nombres, ApellidoPaterno, ApellidoMaterno, Edad, Sexo, Email, FechaNacimiento)
  VALUES (@TipoDocumento, @NumeroDocumento, @Nombres, @ApellidoPaterno, @ApellidoMaterno, @Edad, @Sexo, @Email, @FechaNacimiento);
  SELECT CAST(SCOPE_IDENTITY() AS INT) AS PersonaId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaNatural_Delete]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaNatural_Delete]
  @PersonaId INT
AS
BEGIN
  SET NOCOUNT ON;
  DELETE FROM dbo.PersonasNaturales WHERE PersonaId=@PersonaId;
  SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaNatural_GetById]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaNatural_GetById]
  @PersonaId INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT PersonaId, TipoDocumento, NumeroDocumento, Nombres, ApellidoPaterno, ApellidoMaterno,
         Edad, Sexo, Email, FechaNacimiento, FechaRegistro
  FROM dbo.PersonasNaturales
  WHERE PersonaId=@PersonaId;

  SELECT Id AS TelefonoId, Numero, TipoTelefono
  FROM dbo.TelefonosNaturales
  WHERE PersonaId=@PersonaId
  ORDER BY Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaNatural_List]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaNatural_List]
  @Filtro NVARCHAR(100) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  SELECT
    pn.PersonaId, pn.TipoDocumento, pn.NumeroDocumento, pn.Nombres, pn.ApellidoPaterno, pn.ApellidoMaterno,
    pn.Edad, pn.Sexo, pn.Email, pn.FechaNacimiento, pn.FechaRegistro,
    tn.Id AS TelefonoId, tn.Numero, tn.TipoTelefono
  FROM dbo.PersonasNaturales pn
  LEFT JOIN dbo.TelefonosNaturales tn ON pn.PersonaId = tn.PersonaId
  WHERE (@Filtro IS NULL)
     OR (pn.Nombres LIKE '%'+@Filtro+'%' OR pn.ApellidoPaterno LIKE '%'+@Filtro+'%' OR pn.NumeroDocumento LIKE '%'+@Filtro+'%')
  ORDER BY pn.PersonaId DESC, tn.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonaNatural_Update]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PersonaNatural_Update]
  @PersonaId        INT,
  @TipoDocumento    NVARCHAR(50),
  @NumeroDocumento  NVARCHAR(50),
  @Nombres          NVARCHAR(100),
  @ApellidoPaterno  NVARCHAR(100),
  @ApellidoMaterno  NVARCHAR(100),
  @Edad             TINYINT,
  @Sexo             NVARCHAR(10),
  @Email            NVARCHAR(150) = NULL,
  @FechaNacimiento  DATE = NULL
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.PersonasNaturales
  SET TipoDocumento=@TipoDocumento,
      NumeroDocumento=@NumeroDocumento,
      Nombres=@Nombres,
      ApellidoPaterno=@ApellidoPaterno,
      ApellidoMaterno=@ApellidoMaterno,
      Edad=@Edad,
      Sexo=@Sexo,
      Email=@Email,
      FechaNacimiento=@FechaNacimiento
  WHERE PersonaId=@PersonaId;
  SELECT @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TelefonoJuridico_Upsert]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TelefonoJuridico_Upsert]
  @PersonaJuridicaId INT,
  @TelefonoId INT = NULL,
  @Numero NVARCHAR(20)
AS
BEGIN
  SET NOCOUNT ON;
  IF @TelefonoId IS NULL
    INSERT INTO dbo.TelefonosJuridicos(PersonaJuridicaId, Numero)
    VALUES(@PersonaJuridicaId, @Numero);
  ELSE
    UPDATE dbo.TelefonosJuridicos
      SET Numero=@Numero
      WHERE Id=@TelefonoId AND PersonaJuridicaId=@PersonaJuridicaId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TelefonoNatural_Upsert]    Script Date: 31/10/2025 6:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TelefonoNatural_Upsert]
  @PersonaId   INT,
  @TelefonoId  INT = NULL,
  @Numero      NVARCHAR(20),
  @TipoTelefono NVARCHAR(30) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  IF @TelefonoId IS NULL
    INSERT INTO dbo.TelefonosNaturales(PersonaId, Numero, TipoTelefono)
    VALUES(@PersonaId, @Numero, @TipoTelefono);
  ELSE
    UPDATE dbo.TelefonosNaturales
      SET Numero=@Numero, TipoTelefono=@TipoTelefono
      WHERE Id=@TelefonoId AND PersonaId=@PersonaId;
END
GO
USE [master]
GO
